{% extends 'base.html' %}
{% load static %}

{%  block styles %}
 {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/styles_dashboard.css' %}">

{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}


{% block content %}

<section>
<h3>Zarchwizowane zadania: </h3>
    <ul>
        {% for arch_task in archive_tasks.all %}
            <li>{{ arch_task.content }}</li>

        {% endfor %}
    </ul>


<a type="button" class="btn btn-primary" href="{% url 'pinBoard:user_view' id=user.id %}">Powrót</a>
</section>

{% endblock %}