{% extends 'base.html' %}
{% load static %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/app.js' %}" async defer></script>

{% endblock %}

{% block content %}

<style>
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>

    <div class="container-fluid" style="margin: 8px">

          <a type="button" class="btn btn-primary" href="{% url 'pinBoard:family_list' %}">Rodziny</a>
         <a type="button" href="{% url 'pinBoard:user_view' id=request.user.id %}" class="btn btn-primary">Widok użytkownika</a>
         <a type="button" href="{% url 'pinBoard:send_mail_view' f_id=family.id%}" class="btn btn-primary">Zaproś członka rodziny</a>
          <a  type="button" class="btn btn-primary" href="{% url 'pinBoard:archive' id=request.user.id %}">Archiwum</a>


          <button type="button" class="btn btn-primary">Sensors</button>



</div>


    <div class="row">
  <div class="column">

        <div class="container px-7">
  <div class="row gx-6">
    <div class="col">
     <div class="p-3 border bg-light"><div class="container-fluid">
 <div class="card" style="width: 100%">
  <div class="card-header bg-warning">
    Do zrobienia:
  </div>

     <table style="width:100%;table-layout:fixed;padding: 5px">
     <form action="" method="POST">
     {% csrf_token %}
         {%  for task in tasks.all %}
    <tr id="taskRow">

        <td style="width:80%; padding: 5px">
            <input name="tasks" class="form-check-input me-1" type="hidden" value="{{ task.id }}" aria-label="...">
            {{ task.content }}</td>

        <td>
            </form>

            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name= "delete" value="{{ task.id }}">
                <input class="btn btn-danger" type="submit" value="x">
            </form>
        </td>

        <td>    <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" id="taskId" name="add_to_user" value="{{ task.id }}">
                <input class="btn btn-success" id="transferTask" type="submit" value="+">
            </form>
        </td>
    </tr>
             </form>
         {% endfor %}
</table>

 <a type="button" class="btn btn-success" href="{% url 'pinBoard:task_form' f_id=family.id %}">Dodaj zadanie</a>

</div>
     </div>
     </div>
     </div>
     </div>
     </div>
     </div>


<div class="column">
      <div class="p-3 border bg-light"><div class="container-fluid">



          <div class="card" style="width: 100%;">
  <div class="card-body sentence">
    <h5 class="card-title"> Cytat na dzisiaj: </h5>

    <p class="card-text">{{ random_sentence.content}}</p>

  </div>
</div>

      <div style="margin: 40px"></div>
          <div class="card shopItems" style="width: 100%;">
  <div class="card-header">
    Lista zakupów:
  </div>
  <ul class="list-group list-group-flush">
      {% for item in shop_items.all %}
    <li class="list-group-item">{{ item.name }}, Ilość: {{ item.quantity }}


    </li>
{#              <form action="" method="POST">#}
{#    {% csrf_token %}#}
{#    <input type="hidden" name="delete_note" value="{{ item.id }}">#}
{#    <input type="submit" class="btn btn-danger" value="x">#}
{##}
{#    </form>#}
        {% endfor %}

  <a type="button" class="btn btn-success" href="{% url 'pinBoard:shop_list_form' f_id=family.id %}">Dodaj element do listy zakupów</a>
  </ul>
</div>






</div>
</div>
    </div>
  </div>



{% endblock %}